body {
  background: url(../img/fondo-2.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

div {
    font-family: Vegur, 'PT Sans', Verdana, Sans-serif;
}

.ts {
  font-family: 'Han Sans', sans-serif;
  color: white;
}

.ta {
  font-family: 'Roboto Slab', serif;
}

.fa {
  font-family: 'Open Sans Condensed', sans-serif;
}

.contenido {
  margin-top: 2rem;
  background-color: rgba(215, 208, 219, 0.7);
  border-radius: 0.2rem;
}

.cont-izq {
  background-color: rgba(252, 251, 234);
  margin-left: 2rem;
  border-radius: 0.1rem;
  border: solid 2px white;
}

.cont-der {
  background-color: rgba(255, 233, 248);
  margin-left: 1rem;
  border-radius: 0.5rem;
  border: solid 2px white;
}

.buscador {
  margin-top: 0.5rem;
}

.slogan {
 text-align: right;
}
